
.header{position: relative;background-color:#221e1f}
.header>.inbox{position:relative;display:flex;align-items: center;justify-content: space-between;padding: 4.5vw 0;}
.header .h_btn{display:flex;align-items: center;}
.header .h_btn button{width:6.6vw;filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(269deg) brightness(97%) contrast(103%);margin-right: 4vw;}
.header .h_btn a{position: relative;width: 4.8vw; }
.header .h_btn a img{filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(269deg) brightness(97%) contrast(103%);}
.header .h_btn span{position:absolute;right: -2vw;bottom: -1vw;width:4vw;height:4vw;background-color:#f8992c;color:#fff;text-align: center;line-height: 4vw;border-radius: 50%;font-size: 3vw;font-weight: bold; }
.header .h_btn .bell,.header .h_btn .setting{width:6.6vw}
.header .h_btn .bell{margin-right:4vw;}

.header h1{width:28.5vw;filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(269deg) brightness(97%) contrast(103%);}

.header .search{position:absolute;top:0;left:0;width:100%;height: 100%;background-color: #fff;display: none;}
.header .search .inbox{display: flex;height: 100%;align-items: center;}
.header .search input{width:100%;height: 9vw;border-radius: 4.5vw;padding: 0 5vw;font-size: 5vw;background: #000;color: #fff;}
.header .search button{position:absolute;top:50%;right: 8%;filter: invert(100%) sepia(0%) saturate(7486%) hue-rotate(269deg) brightness(97%) contrast(103%);transform: translateY(-50%);width: 7vw;}



.sub_header{position: relative;background-color:#fff}
.sub_header .inbox{padding:2vw 0;min-height: 14vw;}
.sub_header h3 {font-size:5vw;font-weight:500;display: flex;align-items: center;}
.sub_header h3  .back{margin-right: 5vw;}
.sub_header .h_btn a img, .sub_header .h_btn button{filter:invert(0%) sepia(0%) saturate(4548%) hue-rotate(237deg) brightness(93%) contrast(101%);}
.sub_header .home{width: 10vw !important;margin-right: 4vw;!i;!;}
.sub_header .search {background-color:#fff;}
 
